.row{
    margin-left:  20px;
    color: #fff;

}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    

}

.posters::-webkit-scrollbar{
    display:none
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}

.poster:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 10px 0px rgb(77, 69, 69);
}

.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
 
}